
.wrap {
    width:100%;
    height:95vh;
    overflow-x: hidden;
    overflow-Y: auto;
}
.middle {
    position:relative;

}
.middle #top {
    position:absolute;
    top:90px;
    left:0;
    width:120px;
    height:120px;
    animation: ani1 40s infinite;
    
}
.middle #top > div {
    width:100%;
    height:100%;
}

.scene {
    margin:200px auto 0 auto;
    width: 300px;
    height: 250px;
    perspective: 500px;
}

.box {
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-50px) rotate3d(0,0,0);
    animation: rotation 20s 5s infinite;
}
.box__face {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5em;
    font-family: monospace;
    opacity: 0;
    overflow: hidden;
}

.box__face--front {
    opacity: 1;
    width: 300px;
    height: 250px;
    /* background:rgba(140, 171, 95, 0.7); */
    border:2px solid #353535;
    transform: rotateY(0deg) translateZ(50px);
}

.box__face--back {
    opacity: 1;
    width: 300px;
    height: 250px;
    border:2px solid #353535;
    /* background: #AB7E5F; */
    transform: rotateY(180deg) translateZ(50px);
}

.box__face--right {
    opacity: 1;
    left: 100px;
    width: 100px;
    height: 250px;
    /* background: #AB5F8C; */
    border:2px solid #353535;
    transform: rotateY(-90deg) translateZ(150px);
}

.box__face--top {
    top: 49px;
    opacity: 1;
    width: 300px;
    height: 100px;
    /* background: #ABA45F; */
    border:2px solid #353535;
    transform: rotateX(90deg) translateZ(100px);
  }
.box__face--bottom {
    opacity: 1;
    top: 50px;
    width: 300px;
    height: 100px;
    /* background: #A45FAB; */
    border:2px solid #353535;
    transform: rotateX(-90deg) translateZ(150px);
  }



  
@keyframes rotation {
  0% {
    transform: translateZ(0px) rotate3d(0,1,0,360deg);
  }
  20% {
    transform: translateZ(0px) rotate3d(0,1,0,360deg);
  }
  50% {
    transform: translateZ(0px) rotate3d(0,1,0,180deg);
  }
  80% {
    transform: translateZ(0px) rotate3d(0,1,0,360deg);
  }
  100% {
    transform: translateZ(0px) rotate3d(0,1,0,360deg);
  }
}

@keyframes ani1 {
  0% {
    left:-7%;
    
  }
  50% {
    left:45%;
  }
  100% {
    left:100%;
  }
}

/* 박스 안 채워질 박스 */
.box01 {
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50px) rotate3d(0,0,0);
  animation: rotation 20s 5s infinite;
}
.box__face01 {
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5em;
  font-family: monospace;
  opacity: 0;
}

.box__face--front01 {
  opacity: 1;
  width: 300px;
  height: 50px;
  /* background:rgba(140, 171, 95, 0.7); */
  border:2px solid #353535;
  transform: rotateY(0deg) translateZ(50px);
}

.box__face--back01 {
  opacity: 1;
  width: 300px;
  height: 50px;
  border:2px solid #353535;
  /* background: #AB7E5F; */
  transform: rotateY(180deg) translateZ(50px);
}

.box__face--right01 {
  opacity: 1;
  left: 100px;
  width: 100px;
  height: 50px;
  /* background: #AB5F8C; */
  border:2px solid #353535;
  transform: rotateY(-90deg) translateZ(150px);
}

.box__face--top01 {
  top: 249px;
  opacity: 1;
  width: 300px;
  height: 100px;
  /* background: #ABA45F; */
  border:2px solid #353535;
  transform: rotateX(90deg) translateZ(100px);
}
.box__face--bottom01 {
  opacity: 1;
  top: 50px;
  width: 300px;
  height: 100px;
  /* background: #A45FAB; */
  border:2px solid #353535;
  transform: rotateX(-90deg) translateZ(150px);
}

/* cloud */
#cloud {
  width:100%;
  height: 100%;
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 200px; 
  height: 60px;
	background: #fff;
	border-radius: 200px;
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; 
  height: 80px;
	position: absolute; 
  top: -15px; 
  left: 10px;
	border-radius: 100px;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
}

.cloud:after {
	width: 120px; 
  height: 120px;
	top: -55px; 
  left: auto; 
  right: 15px;
}

/*Time to animate*/
.x1 {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

.x2 {
	left: 200px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; 
	-webkit-animation: moveclouds 25s linear infinite;
}

.x3 {
	left: -250px; 
  top: -200px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; 
	-webkit-animation: moveclouds 20s linear infinite;
}

.x4 {
	left: 470px; 
  top: -250px;
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75;
	-webkit-animation: moveclouds 18s linear infinite;
}

.x5 {
	left: -150px; 
  top: -150px;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8;
	-webkit-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}

/* smail box */
.box__small_into {
  width: 300px;
  height: 70px;
  position:relative;
  bottom:-200px;
  left:0;
}
